@import "./variables";

@font-face {
  font-family: "PT-Root-UI";
  src: url("../fonts/PT-Root-UI_Light.woff2") format("woff2");
  src: local("☺"), url("../fonts/PT-Root-UI_Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PT-Root-UI";
  src: url("../fonts/PT-Root-UI_Regular.woff2") format("woff2");
  src: local("☺"), url("../fonts/PT-Root-UI_Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT-Root-UI";
  src: url("../fonts/PT-Root-UI_Medium.woff2") format("woff2");
  src: local("☺"), url("../fonts/PT-Root-UI_Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}


::-webkit-scrollbar { // Основная ширина полосы прокрутки.
  width: 12px;
}

::-webkit-scrollbar-track { // Цвет дорожки, по которой двигается бегунок прокрутки.
  background-color: $main-color;
  // box-shadow: 1px 1px 3px #775a11 inset;
}

::-webkit-scrollbar-button {
  background-color: $main-color;
  background-image: url('');
  background-repeat: no-repeat;
  width: 10px;
  height: 54px;

  &:hover {
    background-color: #d39f1a;
  }
}

::-webkit-scrollbar-thumb {
  background-color: #b48716;
  width: 6px;
  box-shadow: 0px 0px 1px #775a11 inset;

  &:hover {
    background-color: #d39f1a;
  }
}

::-webkit-resizer {
  background-image: url('');
  background-repeat: no-repeat;
  width: 10px;
  height: 10px
}




* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  height: 100%;
  font-family: "PT Root UI", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: $content-color;
  background-color: #D3D3D3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}


ul li {
  list-style: none;
}

img {
  display: block;
}

button {
  border: 0;
  outline: 0;
  background: unset;
  margin: 0;
  padding: 0;
}

.hidden,
.hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 12px;
}